<<<<<<< HEAD
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
=======
.hero-container {
>>>>>>> 7087960 (cek)
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

<<<<<<< HEAD
.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
=======
.base-img {
  background: url('../../img/bg_lp.png') no-repeat;
  background-position: 100% 100%;
  background-size: 100%;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.bg-img {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background: url('../../img/bg_hero2.png') no-repeat;
  background-position: 160% 120%;
  background-size: 80%;
  /* background-color: #fff; */
}

.hero-container h1 {
  color: #e2c000;
  font-size: 60px;
  line-height: 125%;
  margin-top: 12px;
  /* margin-left: 12px; */
  /* margin-top: -100px; */
}

.hero-container p {
  margin-top: 8px;
  color: #bfa300;
  font-size: 26px;
>>>>>>> 7087960 (cek)
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

<<<<<<< HEAD
.hero-btns {
  margin-top: 32px;
=======
.container {
  column-count: 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 45%;
  float: left;
  margin-left: -45%;
  /* background-color: #fff; */
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.text {
  margin-left: 18px;
  margin-bottom: 10px;
  margin-right: 18px;
}

.hero-btns {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
>>>>>>> 7087960 (cek)
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
<<<<<<< HEAD
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
=======
  .hero-container h1 {
    font-size: 50px;
    /* margin-top: -150px; */
  }

  .hero-container p {
    font-size: 15px;
    margin-top: 0;
  }

  .container {
    width: 40%;
  }
  .bg-img {
    height: 100vh;
    width: 100%;
    background-size: 80%;
>>>>>>> 7087960 (cek)
  }
}

@media screen and (max-width: 768px) {
<<<<<<< HEAD
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
=======
  .hero-container h1 {
    font-size: 30px;
    /* margin-top: -100px; */
  }

  .hero-container p {
    font-size: 20px;
>>>>>>> 7087960 (cek)
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
