.card2-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-rows: auto;
}

.card-about-container {
  margin-top: 10vh;
  /* border: 2px solid red; */
}
.bg-color {
  background-color: #e3c30a;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.img-container {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: contain;
  /* border: 2px solid red; */
}

.name-container {
  margin-top: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: #ffed86;
  border-radius: 6px;
}

.name-container h2 {
  font-size: 24px;
  text-align: center;
}
.name-container h3 {
  font-size: 20px;
  text-align: center;
}

.img {
  border-radius: 50%;
}

.socmed {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid red;
}

.button2 {
  width: 50px;
  margin: 4px;
  /* height: 100px; */
}

.socmed h2 {
  display: inline;
  text-align: center;
  padding: 10px;
}
