.about-us-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.about-us-container h1 {
  color: #e3c30a;
  margin-top: 40px;
  font-size: 52px;
}

.bg-about-us {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-position: 100% 100%;
  background-size: 70%;
  background-color: #fff;
}

.column {
  width: 20%;
  border: 2px solid red;
  padding: 20px;
}

/* Clear floats after the columns */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  grid-template-columns: repeat(5, 300px);
  border: 2px solid red;
}
