.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.text-container {
  border: 3px solid #fff;
  padding: 20px;
  height: 100%;
}

.text-child {
  width: 60%;
  float: right;
  padding: 20px;
  border: 2px solid red;
}

.text-logo {
  width: 20%;
  height: 11vh;
  float: left;
  padding: 20px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.text_logo {
  width: 34px;
  margin-right: 6px;
}

.float-container p {
  font-size: 20px;
  /* color: #fff; */
  /* line-height: 125%; */
  /* margin-top: 12px; */
}
